@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: "Oswald, sans-serif";
}

#inicio{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s easy-in-out;
}

#titulo{
    background-image: linear-gradient(to right, aqua, #6b006b);
    font-size: 4rem;
    text-align: center;
    text-transform: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation:efeito 1s ease-in-out ;
}

@keyframes efeito{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#texto{
    font-size: 1.5rem;
    animation: efeito 1s ease-in-out;
    opacity: 0;
}

.inicio{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

header{
    background: white;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px #555;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
header nav ul li a:houver{
    color:blue
}

header #logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#cor1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(#858585,rgb(73, 73, 73), black );
}
#cor2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(182, 27, 182), #ffc0cb );
}
#cor3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(#b85615, pink );
}

footer{
    margin-top: 70vh;
    display: flex;
    justify-content: center;
}

#teste{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    background-color: #333;
    height: 300px;
    width: px;
}


/* CONTATO */

#container-contato{
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.contato{
    background-image: linear-gradient(#0056b3,#090840);
    width: 500px;
    height: 550px;
    border-radius: 20px;
}
.form{
    padding: 0 40px 30px;
}

.control{
    margin: 20px;
    padding-bottom: 20px;
    position: relative;
}

.control label{
    margin-top: 20px;
    display: inline;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color:#fff;
    text-transform: uppercase;
}
.control input{
    border: 2px solid #555;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 15px;
}

#descricao{
    width: 400px;
    height: 100px;
    border-radius: 10px;
}
.form button{
    width: 80%;
    height: 40px;
    background: green;
    color:#fff;
    border-radius: 20px;
    margin-left: 40px;
}

.form button:hover{
    background: plum;
    color:#090840;
    box-shadow: 10px 10px 10px plum;
}
.form input:hover{
    box-shadow: 10px 10px 10px #fff;
}